<section id="testimonios" class="testimonios seccion-clara">
    <h2 class="seccion-titulo">Comentarios</h2>
    <h3 class="seccion-descripcion">Estos son algunos comentarios de mis clientes...</h3>
    <!-- Carrucel -->
    <div id="testimonios-carrusel" class="carousel carousel-dark slide" data-bs-slide="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="img/cliente1.svg" alt="cliente1">
              <p class="testimonio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
              <div class="testimonio-info">
                <p class="cliente">Mr. Smith</p>
                <p class="cargo">Gerente de proyectos</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="img/cliente2.svg" alt="cliente2">
              <p class="testimonio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
              <div class="testimonio-info">
                <p class="cliente">Mrs. Prinss</p>
                <p class="cargo">Administradora</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="img/cliente3.svg" alt="cliente3">
              <p class="testimonio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
              <div class="testimonio-info">
                <p class="cliente">Mr. Wolf</p>
                <p class="cargo">Product Manager</p>
              </div>
            </div>
          </div>





        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
</section>
