<section id="sobre-mi" class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Conoce a Napster</h2>
        <p class="seccion-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum. Praesent tempus augue non sollicitudin blandit. Phasellus sit amet metus vel lacus fringilla malesuada ac in magna. Pellentesque mollis pellentesque ornare. Cras consequat justo a lorem convallis, molestie viverra massa dictum. In rhoncus ex ex, eget interdum ligula suscipit eu. Curabitur non aliquam leo. Aenean vehicula lorem vel orci semper, nec imperdiet lorem sollicitudin. Duis ante velit, tristique vitae molestie quis, scelerisque id velit. Morbi id dictum ligula, a egestas velit. Cras gravida, tortor ac interdum sollicitudin, lectus lectus dapibus purus, vel ultricies neque lectus eget augue. Vivamus ac laoreet ipsum. Duis a velit viverra felis porta condimentum id eget lorem.</p>
    </div>
</section>
