/* barra de navegacion */
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
    /* media query: sirve para asignar funcionalidades al navegador
        en este caso ocultamos el elemento con la clase navbar-brand 
        que es la image
    */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
}
.navbar-nav .nav-item .nav-link{
    color: black; /* Color inicial de los enlaces */
    text-decoration: none; /* Sin subrayado por defecto */
}
.navbar-nav .nav-item:hover .nav-link{
    color: blue; /* Cambia el color a azul al pasar el ratón */
    text-decoration: underline; /* Añade el subrayado */
}

/* Efecto cuando el enlace está activo (presionado en dispositivos táctiles o clic en desktop) */
.navbar-nav .nav-item .nav-link:active {
    background-color: rgba(0, 0, 255, 0.2); /* Fondo azul semitransparente */
    color: blue; /* Cambia el color del texto también */
    text-decoration: underline; /* Añade subrayado */
}

/* Efecto de foco para cuando el enlace recibe enfoque (para accesibilidad o dispositivos táctiles) */
.navbar-nav .nav-item .nav-link:focus {
    outline: none; /* Quita el borde de enfoque por defecto */
    background-color: rgba(0, 0, 255, 0.2); /* Fondo azul semitransparente */
    color: blue; /* Cambia el color del texto */
    text-decoration: underline; /* Añade subrayado */
}
.logo:hover{
    border: blue;

}