<section class="articulos justify-content-start">
    <h2 class="texto-negro seccion-titulo">Videos de clases</h2>
    <div class="card">
        <div class="card-header font-bold">
          Mas recientes
        </div>
        <ul class="list-group list-group-flush">
            <a href="https://www.youtube.com/watch?v=-ek8UwmGRTE" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">
                        Como simular la ecuación cuadrática en Python /
                    <a href="https://github.com/NapsterAlishaYenery/Ecuacion-Cuadratica/tree/main" target="_blank" rel="noopener noreferrer">
                        Repositorio GitHub 
                    </a>
                </li>
            </a>
            <a href="https://www.youtube.com/watch?v=N34zJTP7JiQ" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">
                        CRUD en java usando SQL Server como base de datos /
                    <a href="https://github.com/NapsterAlishaYenery/Tarea-4-Login-Y-CRUD-JAVA-ORACLE" target="_blank" rel="noopener noreferrer">
                        Repositorio GitHub</a>
                </li>
            </a>
            <a href="https://www.youtube.com/watch?v=N1eK6R_W-I8" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">
                        ELDEN RING cuándo eres fuerte pero le temes a un tarro /
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        Repositorio GitHub 
                    </a>
                </li>
            </a>
            <a href="https://www.youtube.com/watch?v=QLH7rdQhGdU&t=1s" target="_blank" rel="noopener noreferrer">
                <li class="list-group-item">
                        Recordando viejas Apps de programación 1 /
                    <a href="" target="_blank" rel="noopener noreferrer">
                        Repositorio GitHub</a>
                </li>
            </a>
        </ul>
      </div>
     <!-- Boton mas proyectos -->
     <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-info">
            Ver mas videos 
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
     </a>
</section>
