<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <a href="#inicio">
        <img class="footer-logo" src="icons/logo.png" alt="logo portafolio">
    </a>
    <p class="   text-center">Aprendo y creo todos los dias. <br> Creemos tus proyectos hoy juntos</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://x.com/Alexander_NCN0" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter-x"></i>
        </a>

        <a href="https://www.youtube.com/@guerlmynunez5265" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
        </a>

        <a href="https://github.com/NapsterAlishaYenery" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>

        <a href="mailto:napsterganc0201@gmail.com">
            <i class="bi bi-envelope-at-fill"></i>
        </a>
    </div>
    <div class="derechos-de-autor">
        Creado por Guerlmy Alexander Nuñez The-Napster (2024) &#169; 
    </div>
</footer>
