<section class="experiencia seccion-clara">
    <div class="container text-center">
        <div class="row">
            <!-- Desarrollo Web -->
             <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Desarrollo Web</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
                <div class="badge-contenedor">
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">JavaScript</span>
                    <span class="badge text-bg-primary">Angular</span>
                    <span class="badge text-bg-primary">Bootstrap</span>
                </div>
             </div>
            <!-- Desarrollo Mobil -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-phone-vibrate"></i>
                <p class="experiencia-titulo">Desarrollo Mobile</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
                <div class="badge-contenedor">
                    <span class="badge text-bg-primary">Java</span>
                    <span class="badge text-bg-primary">XML</span>
                    <span class="badge text-bg-primary">SQL Server</span>
                </div>
            </div>
            <!-- Estudiante  -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-book"></i>
                <p class="experiencia-titulo">Estudiante Itla</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor lectus, fringilla quis luctus et, pharetra et lectus. Duis vehicula at lacus a rutrum.</p>
                <div class="badge-contenedor">
                    <span class="badge text-bg-primary">C#</span>
                    <span class="badge text-bg-primary">Desarrollo Windows</span>
                    <span class="badge text-bg-primary">P.O.O.</span>
                </div>
            </div>
        </div>
    </div>
</section>
